html
  head
    style
      include main.css
      include tab.css
      include verticaltab.css
      include popup.css
    script
      include tabchange.js
      include ../javascript/getBlock.js

    script.
      function abcd(a,b) {
        document.getElementById("myPopup"+b).innerHTML="hello "+b;
        var popup = document.getElementById("myPopup"+b);
        popup.classList.toggle("show");
      }

  body
    .tab
      label.tablinks=uname
      form(style='height:auto' method='GET' action='/logout')
        input#username.form-control(type='hidden' value=uname name='username')
        button.tablinks(style='float:right') Logout
        button.tablinks(type='submit' style='float:right' formaction='/login') Home


    div(style='padding: 30px 10px 10px 10px;overflow-x:auto;width:90%;margin:0 auto')
      - for (var i = 0; i < height; i++)
          - as = "myPopup"+i;
          form(class="square")
            h1(style={color: 'white', 'font-size': '20px'})
              div(class="popup")
                p(onclick='abcd(' + '"' + uname + '"' + ',' + '"' + i + '"' + ')') Block
                  label=i
                  span(id=as).popuptext
