html
  head
    style
      include main.css
      include tab.css
      include verticaltab.css
      include popup.css
    script
      include tabchange.js


    script.
      function abcd(a,b) {
        document.getElementById("myPopup"+b).innerHTML=a;
        var popup = document.getElementById("myPopup"+b);
        popup.classList.toggle("show");
      }

  body(style='overflow-x:scroll;overflow-y:hidden')
    .tab
      label.tablinks=uname
      form(style='height:auto' method='GET' action='/logout')
        input#username.form-control(type='hidden' value=uname name='username')
        button.tablinks(style='float:right') Logout
        button.tablinks(type='submit' style='float:right' formaction='/login') Home

    div(style='padding-top:10%;overflow-x:scroll')
      - var arr = [];
      - arr = strs.split(",");
      - for (var i = 0; i < height; i++)
          - as = "myPopup"+i;
          form(class="square")
            h1(style={color: 'white', 'font-size': '20px'})
              div(class="popup")
                p(onclick='abcd(' + '"' + arr[i] + '"' + ',' + '"' + i + '"' + ')') Block
                  label()
                  label=i
                  span(id=as).popuptext
